*{
    box-sizing: border-box;
}

body{
    max-width: 1140px;
    display:flex;
    flex:1;
    flex-direction: column;
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-color: #EEEEEE;
}


/*----------------------------------------------------------------------
------------------------------------------------------------------------
=============================   DRY CSS   ==============================
----------------------------------------------------------------------*/

/*Text Align Centered*/
h3, 
.intro, 
.doubleLine,
button[type="submit"],
.bottom_note{
    text-align: center;
}

.bottom_note{
    font-style: italic;
}

/*Make words in BOLD*/
h3, 
.intro,
legend,
button[type="submit"]{
    font-weight: bold;
}

/*Adjust the margin between the checkbox or radio and label*/
input[type="radio"],
input[type="checkbox"] {
  margin: 0 15px 20px 0;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked{
    position: relative;
}

/*Group font color is WHITE*/
h3,
button{
    color: white;
}

/*Group font color is GRAY*/
select > option,
.bottom_note{
    color: gray;
    font-family: "Merriweather";
}

/*Change the background color using after pseudo element and change the font color*/
h3{
    margin:0 auto;
    width:100%;
    padding: 25px;
    background-color: #222831;
    font-weight: bold;
    position: relative;
    z-index: 1;
    transition: all 1.2s ease;
    overflow: hidden;
}

h3::after{
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    background: linear-gradient(-270deg,#7d5a5a,#f1d1d1,#7d5a5a);
    z-index: -1;
    bottom: -100%;
    left:0;
}

h3:hover{
    color: #222831;
}

h3:hover::after{
    bottom:0;
    width: 100%;
    text-align: center;
    transition: all 1.2s ease;
}

.intro{
    margin: 30px 0 15px 0;
    font-size: 1.2em;
}

div>p{
    padding: 5px;
}

div{
    margin-bottom: 25px;
}

/*Set the placeholder to the right*/
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder{
    font-style: italic;
    text-align: right;
    color: rgb(175, 174, 174);
}

textarea[id="others"]{
    color: rgb(175, 174, 174);
    font-style: italic;
    padding: 15px;
}

/*Make a doubleline in CSS*/
.doubleLine{
    position: relative;
    padding-bottom: 50px;
    border-bottom: 2px solid black;
    margin: 0 30px;
    color: gray;
}

.doubleLine::before{
    content:"";
    position: absolute;
    width:100%;
    left:0;
    bottom: 5px;
    border-bottom: 5px solid black;
}

form{
    margin: 0 15px;
}

input,
select{
    flex:1;
    padding: 20px;
}

fieldset{
    border:none;
}

label{
    display: block;
}

.first_section{
    display: flex;
    flex-direction: column;
}

input, 
select{
    margin: 15px 0;
}

legend{
    margin: 0 0 25px 0;
}

.text_style{
    display: inline;
}

select[id="states"]{
    color: gray;
}


input[name="user_zipcode"]{
    width: 200px;
}


input[id*="htmlNews"],
input[id*="htmlRadio"]{
    margin-top: 30px;
}

input[id*="jsNews"]{
    margin-bottom: 30px;
}


/*Set the border color for focus on input, select, and textarea*/
input,
select,
textarea{
    background-color: #DCDCDC;
    border-radius: 5px;
    border: none;
    position: relative;
}

input:focus,
select:focus,
textarea:focus{
    border: 2px solid rgb(29, 48, 156);
    border-left: 6px solid rgb(29, 48, 156);
    outline: none;
    transition: 0.8s;
    background-color: white;
    color: black;
}


/*----------------------------------------------------------------------
===========================*******************==========================
******************CUSTOM THE CHECKBOX BUTTON****************************
===========================*******************==========================
----------------------------------------------------------------------*/

/*Hide the default checkbox first*/
input[type="checkbox"]{
    opacity: 0;
}

/*Create a fake checkbox in front of the label*/
input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid gray;
}

/*Create a fake checkmark behind the label*/
input[type="checkbox"] + label::after{
    content: "\2714" ;
    display: inline-block;
    font-size: 14px;
    text-align: center;
}

/*Position the checkbox and checkmark*/
input[type="checkbox"] + label{
    position: relative;
}

input[type="checkbox"] + label::before,
input[type="checkbox"] + label::after{
    position: absolute;
    top: 0;
}

input[type="checkbox"] + label::before{
    left: -30px;
    top: 1px;
    border-radius:4px;
}

input[type="checkbox"] + label::after{
    right: 80px;
    background-color: rgb(29, 168, 255);
    border: 1px solid rgb(29, 168, 255);
    border-radius: 4px;
    color: white;
    width: 16px;
    height: 16px;
    left: -31px;
}

/*Hide the checkmark by default*/
input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide the checkmark on the checked state*/
input[type="checkbox"]:checked + label::after {
    content: "\2714";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
input[type="checkbox"]:focus + label::before {
    background-color: #DCDCDC;
}

/*Style the checkbox*/            
input[type="checkbox"] + label:hover::before{
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    border:none;
    width: 16px;
    height: 16px;
}

input[type="checkbox"]:checked + label:hover::after{
    background-color: rgb(29, 168, 255);
    border: 1px solid rgb(29, 168, 255);
    border-radius: 4px;
    width: 16px;
    height: 16px;
    left: -31px;
}

/*----------------------------------------------------------------------
===========================*******************==========================
******************CUSTOM THE RADIO BUTTON*******************************
===========================*******************==========================
----------------------------------------------------------------------*/

/*Hide the default radio button first*/
input[type="radio"]{
    opacity: 0;
}

/*Create a big circle in front of the label*/
input[type="radio"] + label::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid gray;
}

/*Create a small circle behind the label*/
input[type="radio"] + label::after{
    content: "";
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    border:none;
    width:5px;
    height:5px;
}

/*Position the big circle and small circle*/
input[type="radio"] + label{
    position: relative;
}

input[type="radio"] + label::before,
input[type="radio"] + label::after{
    position: absolute;
    top:0;
}

input[type="radio"] + label::before{
    left: -30px;
    top: 1px;
}

input[type="radio"] + label::after{
    left: -24.5px;
    top: 6.5px;
}

/*Hide the radio by default*/
input[type="radio"] + label::after {
    content: none;
}
    
/*Unhide the radio on the checked state*/
input[type="radio"]:checked + label::after {
    content:"";
}

/*Adding focus styles on the radio*/
input[type="radio"]:focus + label::before {
    background-color: #DCDCDC;
}


input[type="radio"]:checked + label::before {
    background-color: rgb(29, 168, 255);
    border: none;
    width: 17px;
    height: 17px;
}

/*Style the radio*/            
input[type="radio"] + label:hover::before{
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    border:none;
    width: 17px;
    height: 17px;
}


textarea{
    height: 100px;
    width:100%;
    resize: none;
}


/*----------------------------------------------------------------------
===========================*******************==========================
******************CUSTOM THE SUBMIT BUTTON*******************************
===========================*******************==========================
----------------------------------------------------------------------*/
button{
    outline: none;
    width: 100%;
    margin: 30px auto;
    padding: 20px;
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 5px;
    background-color: #00a1ab;
    position: relative;
    cursor: pointer;
    z-index: 2;
    overflow: hidden;
}

button::before{
    content:"";
    position: absolute;
    width:100%;
    height: 100%;
    left:-100%;
    top:0;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    border-radius: 5px;
    font-family: 'Montserrat';
    z-index: -1;
}

button:focus{
    border: 2px solid #222831;
}


button:hover::before{
    left:0;
    transition: all 1.2s ease;
}


@media(min-width: 768px){

    .first_section{
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;   
        justify-content: flex-start;
    }

    .first_section label{
        flex-basis:20%;
    }

    .first_section input:not([id="zipcode"]),
    .first_section select{
        flex-basis: 75%;
    }

    input[id="zipcode"]{
        flex-grow: 0;
        flex-basis: 300px;
        margin-right: auto;
    }

    /*Re-position the small circle*/

    input[type="radio"] + label::after{
        left: -23.5px;
        top: 6.5px;
    }
}